.square {
  background: teal;
  width: 200px;
  height: 200px;
  animation: tutsFade 2s 1s infinite linear alternate,
             tutsRotate 0.5s 1s infinite linear alternate;
}

@keyframes tutsFade {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}

@keyframes tutsRotate {
  to {
    transform: rotate(180deg);
    background: orange;
    border-radius: 100%;
  }
}