.square {
  background: teal;
  width: 200px;
  height: 200px;
  -webkit-animation: tutsFade 4s 1s infinite linear alternate;
          animation: tutsFade 4s 1s infinite linear alternate; }

@-webkit-keyframes tutsFade {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes tutsFade {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }
