.square {
  background: teal;
  width: 200px;
  height: 200px;
  -webkit-animation: tutsFade 2s 1s infinite linear alternate, tutsRotate 0.5s 1s infinite linear alternate;
          animation: tutsFade 2s 1s infinite linear alternate, tutsRotate 0.5s 1s infinite linear alternate; }

@-webkit-keyframes tutsFade {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@keyframes tutsFade {
  0% {
    opacity: 1; }

  100% {
    opacity: 0; } }

@-webkit-keyframes tutsRotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: orange;
    border-radius: 100%; } }

@keyframes tutsRotate {
  to {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    background: orange;
    border-radius: 100%; } }
